.type-container {
    white-space: normal;
}

.cursor_typing::after{
    content: '|';
    color: black;
    margin-left: 2px;
}

.cursor_stay::after{
    content: '|';
    color: black;
    margin-left: 2px;
    animation: bling 1.5s infinite;
}

@keyframes bling{
    0%{
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}